@if (loading()) {
  <div class="loading">
    Carregando personagens...
  </div>
} @else if (error()) {
  <div class="error">
    <p>{{ error() }}</p>
  </div>
} @else {
  <section class="grid">
    @for (personagem of personagens(); track personagem.id) {
      <app-card-personagem
        [nome]="personagem.nome"
        [imagem]="personagem.imagem"
        [totalVotos]="personagem.votos"
        [personagemId]="personagem.id"
        [type]="personagem.type"
        [status]="personagem.status"
        [species]="personagem.species"
        (votou)="incrementarVoto($event)">
      </app-card-personagem>
    }
  </section>
}
